[submodule "vendor/libgit2-backends"]
	path = vendor/libgit2-backends
	url = https://github.com/isaac/libgit2-backends.git
	branch = redis-null-refs
[submodule "vendor/hiredis"]
	path = vendor/hiredis
	url = https://github.com/isaac/hiredis.git
  branch = rugged-redis
